// includes _colors _fonts dom

html,
body,
div,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
label,
canvas,
input,
textarea,
select {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 16px;
	vertical-align: baseline;
}

input[type='checkbox'],
input[type='radio'] {
	cursor: pointer;
	position: relative;
	top: 2px;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

button,
select {
	text-transform: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	height: auto;
}

html {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $teal-darkest;

	* {
		font-family: 'Source Sans Pro', sans-serif;
		touch-action: manipulation;
		-webkit-text-size-adjust: none;
	}
	*:not(input) {
		cursor: default;
		-webkit-tap-highlight-color: $transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}

	button {
		cursor: pointer;
	}
}

body {
	position: relative;
	font-size: 16px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 1;
	background: $grey-dark;
	margin: 0;
}

input[type='text'],
input[type='password'],
input[type='number'],
select {
	background: $black;
	color: $grey-light;
	border: 2px inset rgba(66, 66, 66, 0.6);
	border-radius: 2px;
	text-indent: 2px;
	font-size: 20px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
select:focus {
	outline: none;
	color: $white;
	background-color: $black !important;
}

button {
	cursor: pointer;
	color: $grey-lighter;
	background-color: $grey-darker;
	border: 2px outset $grey-darkest;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 4px;

	&:focus {
		outline-color: $grey;
	}
	&.selected {
		border-style: inset;
		background-color: $black;
		color: $white;
		border-color: $grey-darker;
	}
	&:active {
		border-style: inset;
		background-color: $grey;
		color: $black;
		border-color: $grey-darker;
	}
	&:disabled {
		cursor: not-allowed;
		background-color: $grey;
		color: $grey-light;
		border-color: $grey;
	}
}

ul {
	width: 70%;
	margin: 1% auto;
	list-style: none;

	li {
		font-size: 20px;
		padding: 7px;
		background-color: $grey-darker;
		color: $grey-lighter;
		margin: 3px;
		border: 2px solid $grey-darkest;
		border-radius: 2px;
		cursor: pointer;

		&.selected {
			border-style: normal;
			background-color: $black;
			color: $white;
			border-color: grey-darker;
		}
		&:active,
		&.active {
			border-style: inset;
			background-color: $grey;
			color: $black;
			border-color: $grey;
		}
		&.disabled {
			cursor: not-allowed;
			background-color: $grey-dark !important;
			color: $grey-light !important;
			border-color: $white !important;
		}

		* {
			pointer-events: none;
			width: 100%;
		}
	}
}

html {
	background-color: $black;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	font-family: monospace;
	touch-action: manipulation;
	-webkit-text-size-adjust: none;
}
*:not(input) {
	cursor: default;
	-webkit-tap-highlight-color: $transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

div#wrapper {
	position: relative;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
}

input.validated {
	background: $green-darkest !important;

	&:focus {
		color: $green;
	}
}
input.invalid {
	background: $red-darkest !important;

	&:focus {
		color: $red;
	}
}

p.validationWarning {
	background: $red-darkest;
	color: $red-light;
	border: 1px dashed $red-light;
	border-radius: 3px;
	padding: 4px;
	width: 70%;
	margin: 2px auto;
	white-space: pre-wrap;
}

div.banner {
	width: 100%;
	font-size: 35px;
	font-weight: bold;
	background-color: $red;
	padding: 1%;
	text-align: center;
}

div#header {
	h1#title {
		text-align: center;
		font-size: 3em;
		font-weight: 600;
		line-height: 1.5;
		color: $black;
		min-height: 72px;
		width: calc(100% - 340px);
		margin: 0 auto;
		white-space: pre-wrap;
		word-break: break-word;
	}

	button {
		display: inline-block;
		position: absolute;
		top: 10px;
		font-size: 1.5rem;
		padding: 8px;
		width: 150px;
	}

	button:nth-of-type(1) {
		left: 10px;
	}

	button:nth-of-type(2) {
		right: 10px;
	}
}

div.separator {
	background-color: $grey;
	width: 40%;
	height: 2px;
	margin: 36px auto;
}

div.big_center {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: $black;
}

button.big_center {
	display: block;
	font-size: 30px;
	width: 60%;
	margin: 10px auto;
	padding: 6px;
}

div#form {
	input {
		display: block;
		width: 75%;
		margin: 0 auto;
	}

	label {
		position: relative;
		width: 75%;
		margin: 0 auto;
		text-align: center;
		display: block;
		font-size: 1.5em;
		line-height: 1.5;
		padding-bottom: 10px;
		margin: 12px auto;
		background-color: $grey-darker;
		border: 2px inset $grey-darkest;
		border-radius: 6px;
		color: $grey-lighter;

		input {
			width: calc(100% - 20px);
		}

		button.iconAction {
			position: absolute;
			top: 3px;
			width: 30px;
			height: 30px;

			&:before {
				@mixin fontAwesomeSolid;

				font-size: 18px;
				line-height: 1.5;
			}

			&.randomize {
				&:before {
					content: '\f074';
				}

				right: 36px;
			}

			&.clear {
				&:before {
					content: '\f00d';
				}

				right: 3px;
			}
		}
	}
}

.playerHTML {
	div,
	span,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	pre,
	a,
	img,
	small,
	strong,
	b,
	u,
	ol,
	ul,
	li,
	label {
		font-size: 20px;
	}

	b {
		font-weight: 600;
	}

	small {
		font-size: 16px;
	}

	strong {
		font-weight: bold;
	}

	i:not(.fa):not(.fas):not(.far):not(.fal):not(.fad):not(.fab) {
		font-style: italic;
		font-size: 20px;
	}
}
