// includes _colors _fonts _common

// includes _colors _fonts _common

li.player {
	position: relative;
}

div#blackCard {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 90%;
	background: $black;
	color: $white;
	padding: 32px 10px 64px;
	border-radius: 10px;
	position: relative;

	div#vetoBlackDisplay {
		position: absolute;
		font-size: 16px;
		color: $red;
		top: 10px;
		right: 38px;
	}

	button#vetoBlackButton {
		position: absolute;
		top: 5px;
		right: 5px;
		border: none;
		background: none;

		&:before {
			@mixin fontAwesomeSolid;

			color: $red;
			content: '\f165';
			font-size: 24px !important;
		}

		&:active:before {
			color: $red-darker;
		}
	}
}

div#gameTimer {
	position: absolute;
	display: none;
}

div#whiteCard {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 50%;
	background: $white;
	color: $black;
	padding: 32px 10px 64px;
	border-radius: 10px;
	position: relative;
	word-break: break-all;
}

ul#playersList {
	li {
		&.marked:before {
			@mixin fontAwesomeSolid;

			content: '\f007';
			margin-right: 6px;
		}
		&.ready {
			background-color: $grey-darker;
			color: $teal;
		}
	}
}

ul#whitesList {
	margin-top: 20px;

	li {
		text-align: center;
		padding: 7px;
		background: $white;
		color: $black;
		margin-bottom: -4px;
		padding-bottom: 14px;
		border-radius: 8px;
		box-shadow: 1px -1px 4px $black;
		border: none;

		&:hover,
		&.selected {
			background: $grey-lighter;
			color: $grey-darker;
			padding-bottom: 25px;
			margin-top: -10px;
		}
		&:active {
			background: $black;
			color: $white;
		}
	}
}

div#waitingHeading {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 50%;
}

div#submissionEntryWrapper {
	position: relative;
}

button#trashWhites {
	display: block;
	font-size: 30px;
	width: 40%;
	margin: 10px auto;
}

button#clear {
	position: absolute;
	top: 2px;
	right: 1%;
	height: 25px;
	width: 15%;
}

div#gameTimer {
	font-size: 20px;
	background: $black;
	width: 210px;
	height: 25px;
	color: $white;
	text-align: right;
	padding: 3px 5px 1px 0;
	margin: -30px auto 0;
}

input#submissionEntry {
	display: block;
	font-size: 20px;
	width: 65%;
	margin: 10px auto 0;
}

div#whitesPile {
	position: relative;
	overflow: hidden;

	div {
		position: absolute;
		top: 150%;
		left: 50%;
		width: 60px;
		height: 90px;
		border-radius: 5px;
		background-color: white;
		transition: transform 1.1s, top 1s, left 1s;
		word-break: break-all;
		font-size: 9px;
		padding: 5px;
	}
}
