// includes _colors _fonts _common play

div#whitesPile {
	position: relative;
	overflow: hidden;

	div {
		position: absolute;
		top: 150%;
		left: 50%;
		width: 60px;
		height: 90px;
		border-radius: 5px;
		background-color: white;
		transition: transform 1.1s, top 1s, left 1s;
		word-break: break-all;
		font-size: 9px;
		padding: 5px;
	}
}
