@import 'boilerplate';

div#JoinGameForm {
	width: 90%;
	margin: 1% auto;

	input {
		display: block;
		font-size: 20px;
		width: 75%;
		margin: 10px auto 0;
	}

	button {
		display: block;
		font-size: 30px;
		width: 40%;
		margin: 10px auto;
	}
}

div#CurrentBlackHeading {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 90%;
	background: $black;
	color: $white;
	padding: 10px;
	border-radius: 10px;
}

div#WaitingHeading {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 50%;
}

input#SubmissionEntry {
	display: block;
	font-size: 20px;
	width: 80%;
	margin: 10px auto 0;
}

button#EnterSubmission, button#LobbyButton, button#PlayAgainButton, button#GameStartButton, button#ScoresButton {
	display: block;
	font-size: 30px;
	width: 40%;
	margin: 10px auto;
	padding-bottom: 5px;
}

ul#SubmissionList {
	li {
		text-align: right;

		span {
			pointer-events: none;
			float: left;
			text-align: left;
			width: 75%;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}
	li:after{
		@extend .clear;
	}
	li.submission {
		cursor: pointer;
		text-align: center;
	}
	li.submission:active {
		background-color: $white;
		color: $black;
		border-color: $teal;
	}
}

ul#WhitesList {
	li {
		cursor: pointer;
		text-align: center;
		padding: 7px;
		background: $white;
		color: $black;
		margin-bottom: -4px;
		padding-bottom: 14px;
		border-radius: 8px;
		box-shadow: 1px -1px 4px $black;
		border: none;
	}
	li.white:hover {
		background: $grey-lighter;
		color: $grey-darker;
		padding-bottom: 25px;
		margin-top: -10px;
	}
	li.white:active {
		background: $black;
		color: $white;
	}
}

div#SubmissionEntryWrapper {
	position: relative;
}
button#EmptySubmissionEntry {
	position: absolute;
	top: 2px;
	right: 10%;
	height: 25px;
	width: 62px;
}

ul#PlayersList {
	li {
		text-align: left;
	}
	li.player {
		cursor: pointer;
		text-align: center;
	}
	li.player:active {
		background-color: $white;
		color: $black;
		border-color: $teal;
	}
	li.player.disabled {
		cursor: not-allowed;
		background: $grey-dark !important;
		color: $grey-light !important;
		border-color: $white !important;
	}
}

ul#WaitingOnPlayersList {
	li {
		text-align: center;
	}
}

ul#ScoresList {
	li {
		text-align: left;
		white-space: pre-wrap;
		line-height: 32px;
	}
}