@import 'boilerplate';

div#JoinGameForm {
	border: 2px solid $grey;
	width: 90%;
	margin: 1% auto;

	input {
		display: block;
		font-size: 20px;
		width: 75%;
		margin: 10px auto 0;
	}

	button {
		display: block;
		font-size: 30px;
		width: 40%;
		margin: 10px auto;
	}
}

div#CurrentBlackHeading {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 90%;
	background: $black;
	color: $white;
	padding: 10px;
	border-radius: 10px;
}

div#WaitingHeading {
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	width: 50%;
}

input#GameGuess {
	display: block;
	font-size: 20px;
	width: 75%;
	margin: 10px auto 0;
}

button#GameGuessDoneButton, button#LobbyButton, button#PlayAgainButton, button#GameStartButton {
	display: block;
	font-size: 30px;
	width: 40%;
	margin: 10px auto;
	padding-bottom: 5px;
}

ul#SubmissionList {
	border: 2px solid $grey;
	width: 70%;
	margin: 1% auto;

	li {
		font-size: 20px;
		padding: 7px;
		background: $black;
		color: $white;
		margin: 3px;
		border: 2px solid $grey-light;
		text-align: right;

		span {
			pointer-events: none;
			float: left;
			text-align: left;
			width: 75%;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}
	li:after{
		@extend .clear;
	}
	li.submission {
		cursor: pointer;
		text-align: center;
	}
	li.submission:hover {
		background: $grey-darker;
		color: $grey-lighter;
	}
	li.submission:active {
		background: $white;
		color: $black;
		border-color: $black;
	}
}

ul#WhitesList {
	border: 2px solid $grey;
	width: 70%;
	margin: 1% auto;

	li {
		font-size: 20px;
		padding: 7px;
		background: $black;
		color: $white;
		margin: 3px;
		border: 2px solid $grey-light;
		text-align: right;

		span {
			pointer-events: none;
			float: left;
			text-align: left;
		}
	}
	li.white {
		cursor: pointer;
		text-align: center;
	}
	li.white:hover {
		background: $grey-darker;
		color: $grey-lighter;
	}
	li.white:active {
		background: $white;
		color: $black;
		border-color: $black;
	}
}

div#GameGuessWrapper {
	position: relative;
}
button#EmptyGameGuessButton {
	position: absolute;
	top: 0;
	right: 0;
	height: 28px;
	width: 60px;
}

ul#PlayersList {
	border: 2px solid $grey;
	width: 70%;
	margin: 1% auto;

	li {
		font-size: 20px;
		padding: 7px;
		background: $black;
		color: $white;
		margin: 3px;
		border: 2px solid $grey-light;
		text-align: left;
	}
	li.player {
		cursor: pointer;
		text-align: center;
	}
	li.player:hover {
		background: $grey-darker;
		color: $grey-lighter;
	}
	li.player:active, li.player.selected {
		background: $white;
		color: $black;
		border-color: $black;
	}
}